<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%7r %.5level [%.16thread] %X{name} %c{30} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="io" class="ch.qos.logback.core.FileAppender">
        <file>io.log</file>
        <append>false</append>
        <encoder>
            <pattern>%7r %.5level [%.10thread] %X{name} %c{30} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.hashnot.fx" level="debug"/>

    <logger name="com.hashnot.xchange" level="info"/>
    <logger name="com.hashnot.xchange.event.trade.impl.UserTradesMonitor" level="debug"/>

    <logger name="si.mazi.rescu" level="TRACE" additivity="false">
        <appender-ref ref="io"/>
    </logger>

    <root>
        <level value="warn"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
